@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-[Nunito] antialiased bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }
}

/* Custom styles for the portfolio */
.masthead {
  font-family: Varela Round;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background:
    linear-gradient(
      180deg,
      rgba(22, 22, 22, 0.3) 0,
      rgba(22, 22, 22, 0.7) 75%,
      #161616
    ),
    url(src/assets/oneshell.jpg);

  h1,
  h2 {
    background: -webkit-linear-gradient(
      hsla(0, 0%, 100%, 0.9),
      hsla(0, 0%, 100%, 0.3)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.profile-pic {
  box-shadow: 0 4px 6px 2px rgba(22, 22, 22, 0.5);
}

.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  background-color: var(--black-a3);
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

#about {
  padding-top: 10rem;
  background: linear-gradient(
    180deg,
    #161616 0,
    rgba(22, 22, 22, 0.9) 75%,
    rgba(22, 22, 22, 0.8)
  );
}

#projects {
  padding-top: 10rem;
  background: linear-gradient(
    180deg,
    rgba(22, 22, 22, 0.8),
    rgba(22, 22, 22, 0.7) 75%,
    rgba(22, 22, 22, 0.6)
  );
}
