.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);

  hr {
    border-color: $primary;
    border-width: 0.25rem;
    width: 50%;
  }
}


.project-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #{fade-out($black, .2)}, #{fade-out($black, .3)} 75%,#{fade-out($black, .4)} 100%);
}

.profile-pic {
  box-shadow: 0px 4px 6px 2px $black;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}