.info-card {
  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    transition: 0.4s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round';
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-bottom: 0.25rem solid $primary;
}
.info-modal {
  .card {
    h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round';
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 50%;
    }
    .info-img {
      margin: auto;
      width: 75%;
    }
    img {
      width: 75%;
      height: auto;
    }
  }
}



.contact-section {
  padding: 5rem 0 0;
  .social {
    margin-top: 5rem;
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: fade-out($white, 0.9);
      border-radius: 100%;
      line-height: 3rem;
      color: fade-out($white, 0.7);
      &:hover {
        color: fade-out($white, 0.5);
      }
      &:active {
        color: $white;
      }
    }
  }
}